@font-face {
  font-family: 'Roboto-Regular';
  src: url("./fonts/roboto/Roboto-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/roboto/Roboto-Regular.otf") format("opentype"), /* Open Type Font */
  url("./fonts/roboto/Roboto-Regular.svg") format("svg"), /* Legacy iOS */
  url("./fonts/roboto/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/roboto/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
  url("./fonts/roboto/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("./fonts/roboto/Roboto-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/roboto/Roboto-Bold.otf") format("opentype"), /* Open Type Font */
  url("./fonts/roboto/Roboto-Bold.svg") format("svg"), /* Legacy iOS */
  url("./fonts/roboto/Roboto-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/roboto/Roboto-Bold.woff") format("woff"), /* Modern Browsers */
  url("./fonts/roboto/Roboto-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("./fonts/roboto/Roboto-Light.eot"); /* IE9 Compat Modes */
  src: url("./fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/roboto/Roboto-Light.otf") format("opentype"), /* Open Type Font */
  url("./fonts/roboto/Roboto-Light.svg") format("svg"), /* Legacy iOS */
  url("./fonts/roboto/Roboto-Light.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/roboto/Roboto-Light.woff") format("woff"), /* Modern Browsers */
  url("./fonts/roboto/Roboto-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: 'Roboto-Bold';
}

#header-container{
    margin-bottom: 0px;
}

.logo{
    float: right;
}

#logo-container{
    padding: 0 50px 0 50px;
}

#header-contacts {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    padding: 0 50px 0 50px;
}

h1{
    font-family: 'Roboto-Light';
    font-size: 48px;
}

.zub{
    background: url('/img/zub.png') top left repeat-x;
    min-height: 400px;
    background-color: #eeeeee;
    padding: 50px 50px 0 50px;
}

#comments .name-user {
    font-family: 'Roboto-Bold';
    font-size: 16px;
    padding: 0 0 20px ;
}

#comments .data-user {
    font-family: 'Roboto-Light';
    font-size: 11px;
}

#comments .message-user{
    font-family: 'Roboto-Light';
    font-size: 14px;
    padding: 0 0 20px 0;
}

#block-comment .zagolovok-for-block-comment{
    font-family: 'Roboto-Regular';
    font-size: 24px; 
    padding: 0 0 20px 0;
}

#block-comment .name-for-block-comment{
    font-family: 'Roboto-Light';
    font-size: 14px;
    padding: 0 0 20px 0;
}

#block-comment .input-name-for-block-comment {
    padding: 0 0 20px 0;
}

#input-name-for-block-comment {
    height: 50px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px; 
    padding: 0 0 0 20px;
    font-family: 'Roboto-Light';
    font-size: 14px;
    box-sizing: border-box;
}

#block-comment .zagolovok-comment-for-block-comment{
    font-family: 'Roboto-Light';
    font-size: 14px;
    padding: 0 0 20px 0;
}

#block-comment .input-comment-for-block-comment {
    padding: 0 0 0 0 ;
}

#comment-area {
    min-height: 200px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
}

#block-comment .send-comment-for-block-comment {
    padding: 0 0 20px 0;
}

#send-commit{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    float: right;
    font-family: 'Roboto-Light';
    font-size: 24px;
    cursor: pointer;
    background: transparent;
}

#empty-messages{
    padding: 0 0 20px 0;
}