<div class="col s6 m4 l2 name-user">
    {{ item.user_name }}
</div>
<div class="col s6 m8 l10 data-user">
    {{ item.d_t }}
</div>
<div class="col s12 m12 l12 message-user">
    {{ item.user_mess }}
</div>